Xin.AQS/Xin.AQS/Service References/SyncNationalAQIPublishDataService/SyncNationalAQIPublishDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://219.131.199.90:8340/SyncNationalAQIPublishDataService/SyncNationalAQIPublishDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncNationalAQIPublishDataService" />
  <xs:element name="GetAQIDataPublishLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SyncNationalAQIPublishDataService" minOccurs="0" name="GetAQIDataPublishLiveResult" nillable="true" type="q1:ArrayOfAQIDataPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyncNationalAQIPublishDataService" minOccurs="0" name="GetAQIDataPublishHistoryResult" nillable="true" type="q2:ArrayOfAQIDataPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SyncNationalAQIPublishDataService" minOccurs="0" name="GetCityAQIPublishLiveResult" nillable="true" type="q3:ArrayOfCityAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyncNationalAQIPublishDataService" minOccurs="0" name="GetCityAQIPublishHistoryResult" nillable="true" type="q4:ArrayOfCityAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SyncNationalAQIPublishDataService" minOccurs="0" name="GetCityDayAQIPublishLiveResult" nillable="true" type="q5:ArrayOfCityDayAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SyncNationalAQIPublishDataService" minOccurs="0" name="GetCityDayAQIPublishHistoryResult" nillable="true" type="q6:ArrayOfCityDayAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>